.appname{
  text-align: center;
  color: aqua;
  border: 2px;
}
.top_div{
  display: flex;
  justify-content: space-around;
}

.left_div{ 
  border: 1px solid gray;
  width: 200px;
}

.left_name{
  margin: 20px
}

.left_click{
  float: right;
  margin-right: 20px;
}
.gallery_container{ 
  padding-left: 40px;
}
.image_card{
  display: flex;
  flex-wrap: wrap;  
}
.image_item{
  border: 1px solid gray;
  margin: 5px;
}